<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta charset="UTF-8"/>
    <title>成功页面</title>
    <script th:src="@{/lib/js/jquery.js}"></script>
    <script th:src="@{/lib/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/lib/css/bootstrap.css}">
</head>

<body>
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">成功</h3>
        <a th:href="@{/}" style="color: #337ab7;">返回主页面</span></a>
    </div>
</div>
</body>
</html>